* {
    font-family: "Nunito", sans-serif;
}

html,
body {
    margin: 0;
    height: 100vh;
    overflow: hidden
}

body {
    /* padding: 20px; */
    text-align: center;
}

#map {
    height: 100vh;
}

.leaflet-popup {
    /* width: 100px; */
    white-space: normal;
}

#popup-card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#popup-card a,
#popup-card img,
#popup-card h1 {
    text-align: center;
}

.marker-cluster span {
    font-weight: bold;
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}

.leaflet-div-icon {
    background: transparent;
    border: 0px transparent;
    font-size: 22pt;
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
    text-align: left;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend p {
    margin: 0px;
}